
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
driver_customhmd/*.sdf
driver_customhmd/*.opendb
driver_customhmd/*.filters
*.ipch
*.VC.db
*.tmp
*.temp
stm32/**/*.axf
stm32/**/*.build_log.htm
stm32/**/*.lnp
stm32/**/*.d
stm32/**/*.o
stm32/**/*.dep
stm32/**/*.hex
stm32/**/*.htm
stm32/**/*.lst
stm32/**/*.map

*.opendb
stm32/TrackedDevice - Copy
